<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="practice.wanted_notion.page.dao.mybatis.PageMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into page (name, content, breadcrumb)
        values (#{name}, #{content}, #{breadcrumb})
    </insert>

    <select id="findById">
        select *
        from page
        where id = #{id}
    </select>
</mapper>
