<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="practice.wanted_notion.page.dao.mybatis.PageMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into page (name, content, breadcrumb, prev_page_id)
        values (#{name}, #{content}, #{breadcrumb}, #{prevPageId})
    </insert>

    <select id="findById">
        select id, name, content, prev_page_id, breadcrumb
        from page
        where id = #{id}
    </select>

    <select id="findByPrevId">
        select id, name, content, prev_page_id, breadcrumb
        from page
        where prev_page_id = #{prevId}
    </select>
</mapper>
